.find-loading-nm {
font-size: 20px;
}

.find-loading-dm {
    font-size: 25px;
}

.find-error {
    color: darkred;
}

.find-map {
    margin-top: 10%;
    border-radius: 3px 15px 3px 3px;
}
.place-text-wrap {
    display: flex;
    flex-direction: column;

}
.find-places-list-nm {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left: 5%;
    align-self: flex-start;
    width: 70%;
}

.find-places-list-dm {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left: 5%;
    align-self: flex-start;
    width: 90%;
}

.find-place-item {
    display: flex;
    border-bottom: solid var(--darker-color) 2px;
    justify-content: space-between;
    padding-top: 5%;
    padding-bottom: 2%;
}

.find-place-name-nm {
    font-size: 14px;
}

.find-place-name-dm {
    font-size: 20px;
}

.find-place-street-nm {
    font-size: 12px;
}

.find-place-street-dm {
    display: none;
}

.find-place-postal-nm {
    font-size: 10px;
}

.find-place-postal-dm {
    display: none;
}

.find-bottles-nm {
    width: 100%;
    height: 80px;
    object-fit: cover;
    object-position: 0 10%;
}

.find-bottles-nm {
    width: 100%;
    height: 40px;
    object-fit: cover;
    object-position: 0 10%;
}